<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
<!--form_forから上記に修正。"user.new"と同じ処理をしているので"@user"が使える。-->
<%= render "devise/shared/error_messages", resource: resource %>
<!--「render」はビューファイル内で他のファイルにも表示させるためのもの.「devise/shared/error_messages」ファイル内に「resource」変数を入れて使ってエラーメッセージを表示することができます-->
<!--「devise/shared/error_messages」は、DeviseというGemで発生する認証関連のエラーメッセージをまとめて表示するためのパーシャルファイル-->
  
  
  <div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
